@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

html {
  font-size: 62.5%;
  /* 1rem=10px; */
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

.header {
  padding: 0 4.8rem;
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(6, 31, 31);
}

.header .logo {
  height: 8rem;
}

.navbar-list {
  display: flex;
  gap: 4.8rem;
  list-style: none;
  /* 🔼 Remove list style i.e., dots */
}

/* 🔽 Works only when we've an href in the tag */
.navbar-link:link,
.navbar-link:visited {
  /* 🔽so that we can give margins and paddings effectively */
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
  color: antiquewhite;
  transition: all 0.3s;
}

.navbar-link:hover {
  color: rgb(159, 255, 69);
}

/* Our Main section */

.section-hero p {
  padding: 9.6rem 0;
  background-color: rgb(89, 238, 176);
  height: 60vh;
  display: flex;
  justify-content: center;
  /* 🔼 horizontally align-items  */

  align-items: center;
  font-size: 3.2rem;
}

.mobile-navbar-btn {
  display: none;
  background: transparent;
  cursor: pointer;
}

.mobile-nav-icon {
  /* As it's an icon, we need to give both height and width */
  width: 4rem;
  height: 4rem;
  color: white;
}

.mobile-nav-icon[name="close-outline"] {
  display: none;
}

/* Responsive Codes */

/* 980 px */
@media (max-width: 62em) {
  .mobile-navbar-btn {
    /* Buttons will be not be shown up if their display isn't changed as previously it was none */
    display: block;
    z-index: 50;
    border: 3px solid rgb(151, 255, 206);
  }
  .header .logo {
    height: 6rem;
  }

  .navbar {
    /* If you want to use animation, never use display, instead use opacity */
    /* display: none; */

    width: 100%;
    height: 100vh;
    background-color: rgb(6, 31, 31);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    /* For Transition */
    transform: translateX(100%);
    transition: all 0.5s linear;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .navbar-list {
    /* flex-direction works in parent containers only */
    flex-direction: column;
    align-items: center;
  }
  .navbar-link:active,
  .navbar-link:link {
    font-size: 3.5rem;
  }
  .active .navbar {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .active .mobile-navbar-btn .mobile-nav-icon[name="close-outline"] {
    display: block;
  }
  .active .mobile-navbar-btn .mobile-nav-icon[name="menu-outline"] {
    display: none;
  }
}
